# NOTE(jroll) these are pinned to the same SHA, update when needed.
# Last updated: Apr 2, 2020 (Ussuri cycle).
git+https://opendev.org/openstack/ironic-inspector@1299bdc3223a213634fbcd6e423c99044c004ce5#egg=ironic-inspector
-r https://opendev.org/openstack/ironic-inspector/raw/commit/1299bdc3223a213634fbcd6e423c99044c004ce5/test-requirements.txt
