# NOTE(jroll) these are pinned to the same SHA, update when needed.
git+git://git.openstack.org/openstack/ironic-inspector@be3f7eec18ad13dd6d5a94fe2963b45456fad19e#egg=ironic-inspector
-r https://git.openstack.org/cgit/openstack/ironic-inspector/plain/test-requirements.txt?h=be3f7eec18ad13dd6d5a94fe2963b45456fad19e
